.select2-container {
    width: 100% !important;
    max-width: 100% !important;
}

@media screen and (max-width: 600px) {
    .form-row, .form-group {
        display: block;
        width: 100%;
    }

    .select2-selection {
        font-size: 14px;
    }
}
